<!DOCTYPE html>
<html>
<head>
    <script src="{{ url_for('static', filename='js/utils.js') }}"> </script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Gallery</h1>
    <div id="gallery"></div>
    <div id="lightbox" style="display:none;">
        <img id="lightbox-img">
        <div id="lightbox-caption">
            <p id="lightbox-title"></p>
            <p id="lightbox-date"></p>
        </div>
    </div>
    <script>
        initGallery();
        initLightbox();
        loadImages();
    </script>
</body>
</html>
